version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "globals"
        versions: ["*"]   # ignore all versions

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "weekly"
